doctype html
html
 head
  title= title  
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='javascript', href='/javascripts/bootstrap.min.js')
 body.container
   nav.navbar.navbar-toggleable-md.navbar-light.fixed-top 
     .container
                
                a.navbar-brand(href='/') Music
                a.nav-link(href='/about/') About
                a.nav-link(href='/list/') Music List
block content
   
   
